@konect:registry=https://europe-west1-npm.pkg.dev/konect-artifacts/konect-artifact-registry/
//europe-west1-npm.pkg.dev/konect-artifacts/konect-artifact-registry/:always-auth=true

scripts-prepend-node-path=true